window {
    font-family: NotoSansM Nerd Font Mono, monospace;
    font-size: 14pt;
    color: #d0d0d0;
    background-color: rgba(53, 53, 53, 0.85);
}

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    border: none;
    color: #d0d0d0;
    font-size: 25px;
    text-shadow: none;
    border-radius: 20px 20px 20px 20px;
    background-color: rgba(43, 43, 43, 0.85);
    margin: 5px;
    transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

button:hover {
    background-color: rgba(74, 74, 74, 0.92);
}

button:focus {
    background-color: rgba(74, 74, 74, 0.92);
}
