window {
    font-family: Noto Sans Nerd Font, monospace;
    font-size: 14pt;
    color: #cdd6f4;
    background-color: rgba(15, 15, 15, 0.85);
}

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    border: none;
    color: #cdd6f4;
    font-size: 25px;
    text-shadow: none;
    border-radius: 20px 20px 20px 20px;
    background-color: rgba(30, 30, 30, 0.85);
    margin: 5px;
    transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

button:hover {
    background-color: rgba(60, 60, 60, 0.92);
}

button:focus {
	background-color: rgba(60, 60, 60, 0.92);
}
