* {
    font-size: 14px;
    border-radius: 5px;
}

window#waybar {
    /* `otf-font-awesome ã€ is required to be installed for icons */
    font-family: Iosevka, FontAwesome, Noto Sans CJK;
    background-color: transparent;
    border-bottom: 0px;
    color: #c6d0f5;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.empty #window {
    background-color: transparent;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

.modules-right {
    margin: 10px 10px 0 0;
}
.modules-center {
    margin: 10px 0 0 0;
}
.modules-left {
    margin: 10px 0 0 10px;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    /* box-shadow: inset 0 -3px transparent; */
    border: none;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
/*
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ebdbb2;
} */

#workspaces {
    background-color: #303446;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #c6d0f5;
    border-radius: 0;
}

#workspaces button:first-child {
    border-radius: 5px 0 0 5px;
}

#workspaces button:last-child {
    border-radius: 0 5px 5px 0;
}

#workspaces button:hover {
    color: #ca9ee6;
}

#workspaces button.active {
    background-color: #626880;
    color: #c6d0f5;
}

#workspaces button.urgent {
    background-color: #e78284;
    color: #232634;
}

#idle_inhibitor,
#scratchpad,
#mode,
#window,
#clock,
#battery,
#backlight,
#wireplumber,
#tray,
#load,
#cpu,
#temperature,
#memory {
    padding: 0 10px;
    background-color: #303446;
    color: #c6d0f5;
}

#mode {
    background-color: #303446;
    color: #232634;
    /* box-shadow: inset 0 -3px #ffffff; */
}

#custom-apps {
    background-color: #303446;
    color: #c6d0f5;
}

#custom-apps:hover {
    background-color: #303446;
    color: #c6d0f5;
}

#custom-power {
    background-color: #303446;
    color: #c6d0f5;
}

#custom-power:hover {
    background-color: #737994;
    color: #c6d0f5;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#battery.charging, #battery.plugged {
    background-color: #a6d189;
    color: #303446;
}

@keyframes blink {
    to {
        background-color: #303446;
        color: #c6d0f5;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #ef9f76;
    color: #c6d0f5;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #83a598;
}

#wireplumber.muted {
    background-color: #737994;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

#tray menu {
    font-family: Iosevka;
}

#scratchpad.empty {
    background: transparent;
}
