[Desktop Entry]
Type=Application
Name=Animation Toggle (hyprland)
Exec=bash -c "$HOME/.config/hypr/scripts/toggle_animations.sh"
Icon=utilities-terminal
Terminal=false
Categories=Utility;
