# github.com/dillacorn/awtarchy/tree/main/local/share/applications
# ~/.local/share/applications/animation_toggle.desktop

[Desktop Entry]
Type=Application
Name=Animation Toggle (hyprland)
Exec=/bin/sh -c "$HOME/.config/hypr/scripts/toggle_animations.sh"
Icon=utilities-terminal
Terminal=false
Categories=Utility;