#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Telegram Web (brave)
Exec=flatpak run --command=brave com.brave.Browser --profile-directory=Default --app=https://web.telegram.org/a/
Icon=brave-ibblmnobmgdmpoeblocemifbpglakpoi-Default
StartupWMClass=crx_ibblmnobmgdmpoeblocemifbpglakpoi
X-Flatpak-Part-Of=com.brave.Browser
#TryExec=/home/dillacorn/.local/share/flatpak/exports/bin/com.brave.Browser
