# github.com/dillacorn/awtarchy/tree/main/local/share/applications
# ~/.local/share/applications/firefox-archlinux-packages.desktop

[Desktop Entry]
Version=1.0
Type=Application
Name=Arch Repo (Firefox)
Exec=/usr/bin/firefox https://archlinux.org/packages/
Icon=firefox
Terminal=false
Categories=Network;WebBrowser;
