[Desktop Entry]
Type=Application
Name=gif (record)
Exec=bash -c "$HOME/.config/hypr/scripts/gif.sh"
Icon=utilities-terminal
Terminal=false
Categories=Utility;
