[Desktop Entry]
Type=Application
Name=Themes (Hyprland)
Exec=bash -c "$HOME/.config/hypr/scripts/select_theme.sh"
Icon=utilities-terminal
Terminal=false
Categories=Utility;
