# github.com/dillacorn/awtarchy/tree/main/local/share/applications
# ~/.local/share/applications/hyprpicker.desktop

[Desktop Entry]
Type=Application
Name=Color Picker (Hyprpicker)
Exec=bash -c "$HOME/.config/hypr/scripts/hyprpicker.sh"
Icon=utilities-terminal
Terminal=false
Categories=Utility;
