# github.com/dillacorn/awtarchy/tree/main/local/share/applications
# ~/.local/share/applications/hypr_helper.desktop

[Desktop Entry]
Type=Application
Name=Help (hyprland keybind lister)
Exec=bash -c "$HOME/.config/hypr/scripts/hypr-help.sh"
Icon=utilities-terminal
Terminal=false
Categories=Utility;
