# github.com/dillacorn/awtarchy/tree/main/local/share/applications
# ~/.local/share/applications/librewolf-flathub-web.desktop

[Desktop Entry]
Version=1.0
Type=Application
Name=Flathub (Librewolf)
Exec=/usr/bin/librewolf https://flathub.org/
Icon=librewolf
Terminal=false
Categories=Network;WebBrowser;
