# github.com/dillacorn/awtarchy/tree/main/local/share/applications
# ~/.local/share/applications/qr-scan.desktop

[Desktop Entry]
Type=Application
Name=QR (scan code)
Exec=bash -c "$HOME/.config/hypr/scripts/qr-scan.sh"
Icon=utilities-terminal
Terminal=false
Categories=Utility;
