# github.com/dillacorn/awtarchy/tree/main/local/share/applications
# ~/.local/share/applications/screenshot_fullscreen.desktop

[Desktop Entry]
Type=Application
Name=Screenshot (Full)
Exec=/bin/sh -c "$HOME/.config/hypr/scripts/screenshot_fullscreen.sh"
Icon=utilities-terminal
Terminal=false
Categories=Utility;
