# github.com/dillacorn/awtarchy/tree/main/local/share/applications
# ~/.local/share/applications/screenshot.desktop

[Desktop Entry]
Type=Application
Name=Screenshot
Exec=bash -c "$HOME/.config/hypr/scripts/screenshot_area.sh"
Icon=utilities-terminal
Terminal=false
Categories=Utility;
