# github.com/dillacorn/awtarchy/tree/main/local/share/applications
# ~/.local/share/applications/waybar_flip.desktop

[Desktop Entry]
Type=Application
Name=waybar flip (top/bottom)
Exec=/bin/sh -c "$HOME/.config/hypr/scripts/waybar_flip.sh"
Icon=utilities-terminal
Terminal=false
Categories=Utility;
